.agreement {
    font-family: /* Roman */ -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Lucida Grande, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, /* CJK */ Hiragino Kaku Gothic Pro, Meiryo, Hiragino Sans GB W3, /* Arabic */ Noto Naskh Arabic, Droid Arabic Naskh, Geeza Pro, Simplified Arabic, /* Thai */ Noto Sans Thai, Thonburi, Dokchampa, Droid Sans Thai, /* Sans Fallbacks */ Droid Sans Fallback, '.SFNSDisplay-Regular', /* CJK Fallbacks */ Heiti SC, Microsoft Yahei;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
}

.login-body {
    color: #fff;
}

.register-body {
    align-items: center;
    padding: 24px 12px;
}

.register-main-content {
    width: 50%;
    margin: 0 auto;
    display: block;
}

.register-form {
    width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    margin: 0 auto;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.52);
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    text-align: center;
}

.register-form-body {
    margin-top: 20px;
    margin-left: 20px;
}

.border-bottom-1 {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.27);
}

.h2 {
    font-size: 24px !important;
}

.title {
    flex: 100%;
    font-weight: 200;
}

.register-title {
    margin-left: 20px;
}

.btn-login {
    background-color: #3c8dbc;
    border-color: #367fa9;
    border-radius: 3px;
    color: #fff;
    padding: 2px 2px !important;
    width: 65px;
}

.btn-signup {
    background-color: #3c8dbc;
    border-color: #367fa9;
    border-radius: 3px;
    color: #fff;
    padding: 3px 3px !important;
    width: 300px;
}

.global-wrapper {
    width: 100%;
    background-image: url(../../../wwwroot/assets/images/banner.jpg);
    margin: 0px;
}

.login-header {
    height: 75px;
    background: rgba(0, 0, 0, 0.52);
}

.login-form {
    width: 100%;
    margin-top: 10px;
    position: absolute;
    margin-left: 600px;
}

.login-email {
    width: 230px;
    outline: none;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    color: #fff;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    letter-spacing: 1px;
    font-family: 'Philosopher', sans-serif;
    margin-right: 25px;
}

span.icon1, span.icon2 {
    color: #fff;
    font-size: 1em;
}

.login-password {
    width: 230px;
    outline: none;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    color: #fff;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    letter-spacing: 1px;
    font-family: 'Philosopher', sans-serif;
    margin-right: 5px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    color: #000 !important;
}

