<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - my8.Client</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/styles//bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/styles/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/styles/mobile.css" asp-append-version="true" />
</head>
<body style="background-color:#e9ebee">
    @RenderBody()
    <div id="global-icon-symbols" data-tg-refresh="global-icon-symbols" data-tg-refresh-always="true" style="display: none;">
        <svg xmlns="http://www.w3.org/2000/svg">
            <symbol id='next-icon-checkmark'><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z" /></svg></symbol>

        </svg>
    </div>
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
